<!-- Footer -->
<div id="footer">
    <p class="mid">
        <a href="#" title="Top" class="tooltip">Top</a>&middot;<a href="#" title="Main Page" class="tooltip">Home</a>&middot;<a href="#" title="Change current settings" class="tooltip">Settings</a>&middot;<a href="#" title="End administrator session" class="tooltip">Logout</a>
    </p>
    <p class="mid">
        <!-- Change this to your own once purchased -->
        &copy; Wide Admin 2010. All rights reserved.
			
        <!-- -->
    </p>
</div>
<!-- End of Footer -->
