<div id="sidebar">

    <h2>Accordion</h2>
    <!-- Accordion -->
    <div id="accordion">
        <div>
            <h3><a href="#" title="First slide" class="tooltip">First</a></h3>
            <div>Praesent augue urna, vehicula sed sollicitudin quis, dignissim nec est. Quisque dignissim lorem at metus vehicula ut feugiat eros vestibulum. Suspendisse ultrices, massa luctus aliquam faucibus, sem quam fermentum nisl, non posuere quam nunc vel tellus.</div>
        </div>
        <div>
            <h3><a href="#" title="Second slide" class="tooltip">Second</a></h3>
            <div>Sed sem elit, porttitor quis vestibulum ut, euismod id purus. Praesent vulputate dolor vel nisi mattis sollicitudin. Curabitur placerat quam at sem tempor ac sodales nunc dapibus. Nullam mi purus, adipiscing in facilisis sed, posuere ut ipsum.</div>
        </div>
        <div>
            <h3><a href="#" title="Third slide" class="tooltip">Third</a></h3>
            <div>Praesent augue urna, vehicula sed sollicitudin quis, dignissim nec est. Quisque dignissim lorem at metus vehicula ut feugiat eros vestibulum. Suspendisse ultrices, massa luctus aliquam faucibus, sem quam fermentum nisl, non posuere quam nunc vel tellus.</div>
        </div>
    </div>
    <!-- End of Accordion-->

    <h2>Datepicker</h2>
    <!-- Datepicker -->
    <div id="datepicker"></div>
    <!-- End of Datepicker -->

    <!-- Sortable Dialogs -->
    <h2>Sortable Dialogs</h2>
    <div class="sort">
        <div class="box ui-widget ui-widget-content ui-corner-all portlet">
            <div class="portlet-header">Sortable 1</div>
            <div class="portlet-content">
                <p>This is a sortable dialog. Praesent augue urna, vehicula sed sollicitudin quis, dignissim nec est.</p>
            </div>
        </div>

        <div class="box ui-widget ui-widget-content ui-corner-all portlet">
            <div class="portlet-header">Sortable 2</div>
            <div class="portlet-content">
                <p>This is a sortable dialog. Praesent augue urna, vehicula sed sollicitudin quis, dignissim nec est.</p>
            </div>
        </div>

        <div class="box ui-widget ui-widget-content ui-corner-all portlet">
            <div class="portlet-header">Sortable 3</div>
            <div class="portlet-content">
                <p>This is a sortable dialog. Praesent augue urna, vehicula sed sollicitudin quis, dignissim nec est.</p>
            </div>
        </div>
    </div>
    <!-- End of Sortable Dialogs -->

    <!-- Lists -->
    <h2>Lists / Navigation</h2>
    <ul>
        <li><a href="#">Lorem Ipsum</a></li>
        <li><a href="#">Artificial Intelligence</a></li>
        <li><a href="#">jQuery Power</a>
            <ul>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Artificial Intelligence</a></li>
                <li><a href="#">Lorem Ipsum</a>
                    <ul>
                        <li><a href="#">Lorem Ipsum</a></li>
                        <li><a href="#">Artificial Intelligence</a></li>
                        <li><a href="#">Lorem Ipsum</a></li>
                        <li class="last"><a href="#">Artificial Intelligence</a></li>
                    </ul>
                </li>
                <li class="last"><a href="#">Artificial Intelligence</a></li>
            </ul>
        </li>
        <li><a href="#">Another category</a></li>
    </ul>
    <!-- End of Lists -->

    <!-- Statistics -->
    <h2>Statistics</h2>
    <p><b>Articles:</b> 2201</p>
    <p><b>Comments:</b> 17092</p>
    <p><b>Users:</b> 3788</p>
    <!-- End of Statistics -->

</div>
